@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

%text1 {
  font-family: Overpass, sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
}

%text2 {
  font-family: Overpass, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

%text3 {
  font-family: Overpass, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

%text4 {
  font-family: Overpass, sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 24px;
}

%text5-bold {
  font-family: Overpass, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.87px;
}

%text5-semi {
  font-family: Overpass, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.17px;
}

%text5-reg {
  font-family: Overpass, sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 22px;
}
