@use "sass/gradients";
@use "sass/typography";

$white: white;
$black: black;

$grey950: #131518;
$grey900: #262e38;
$grey500: #969fad;

$orange500: #fc7614;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lighten($black, 10%);
}

.rating-card,
.thankyou-card {
  width: 412px;
  height: 416px;
  @extend %gradient1;
  align-items: center;
  padding: 40px 32px;
  border-radius: 30px;
}

.rating-card {
  .img-underlay {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: lighten($grey900, 3%);
  }
  h1 {
    margin-top: 32px;
  }
  .img-underlay img {
    max-width: 100%;
    height: auto;
    width: 17px;
    z-index: 10;
  }
  .how-text {
    margin: 32px 0;
    p {
      margin: 16px 0;
    }
  }
  .rating-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 51px;
      height: 51px;
      border-radius: 50%;
      background-color: $grey900;
      color: $grey500;
      @extend %text3;
      text-decoration: none;
      &:hover {
        background-color: $orange500;
      }
    }
  }
  .submit-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %text5-semi;
    margin: 0 auto;
    background-color: $orange500;
    border-radius: 22.5px;
    color: $grey950;
    width: 351px;
    height: 45px;
  }
}
.thankyou-card {
  display: none;
  img {
    width: 162px;
    display: block;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  .button-style {
    margin-top: 32px;
    width: 193px;
    height: 32px;
    background-color: $grey900;
    color: $orange500;
    border-radius: 22.5px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
  }
  .thankyou-innertext {
    padding-top: 32px;
    width: 340px;
    height: 123px;
    text-align: center;
    p {
      margin-top: 20px;
    }
  }
}
h1 {
  @extend %text1;
  color: $white;
}

p {
  @extend %text4;
  color: $grey500;
}
